body {
   width: 1200px;
}

div {
   font-size: 60px;
   font-family: pacifico, sans-serif;
   color: black;
   text-align: center;
}

img {
   width: 60px;
   height: 60px;
   margin-top: 200px;
}

p {
   font-size: 30px;
   font-family: raleway, sans-serif;
   font-weight: 300;
   color: black;
   text-align: center;
   margin-top: 30px;
}

header {
   width: 1600px;
   height: 700px;
   background: url('file:///Users/Ruby/Documents/Fall%202018/WEB%20DESIGN/the-focus-assignment/img/large-banner-image.png');
   background-repeat: no-repeat;
   background-position: center;
}

.clssecondimg {
   position: absolute;
   background-repeat: no-repeat;
   height: auto;
   width: 450px;
   top: 200px;
   left: 585px;
}

#great {
   font-size: 20px;
   font-weight: 700;
   font-family: raleway, sans-serif;
   position: absolute;
   top: 750px;
   left: 270px;
}

#p1 {
   font-size: 15px;
   color: grey;
   text-align: justify;
   margin-top: 60px;
   max-width: 350px;
   position: absolute;
   left: 270px;
   line-height: 1.5em;
}

#another {
   font-size: 20px;
   font-weight: 700;
   font-family: Raleway, sans-serif;
   position: absolute;
   top: 920px;
   left: 270px;
}

#p2 {
   font-size: 15px;
   color: grey;
   text-align: justify;
   margin-top: 230px;
   max-width: 350px;
   position: absolute;
   left: 270px;
   line-height: 1.5em;
}

#great2 {
   font-size: 20px;
   font-weight: 700;
   font-family: raleway, sans-serif;
   position: absolute;
   top: 750px;
   left: 1030px;
}

#p3 {
   font-size: 15px;
   color: grey;
   text-align: justify;
   margin-top: 60px;
   max-width: 350px;
   position: absolute;
   left: 1030px;
   line-height: 1.5em;
}

#another2 {
   font-size: 20px;
   font-weight: 700;
   font-family: raleway, sans-serif;
   position: absolute;
   top: 920px;
   left: 1030px;
}

#p4 {
   font-size: 15px;
   color: grey;
   text-align: justify;
   margin-top: 230px;
   max-width: 350px;
   position: absolute;
   left: 1030px;
   line-height: 1.5em;
}

#container {
   background-color: rgb(227, 227, 227);
   position: absolute;
   top: 1196px;
   width: 1603px;
   height: 427px;
}

#app {
   font-size: 22px;
   font-family: Raleway, sans-serif;
   color: rgb(34, 34, 34);
   font-weight: 700;
   line-height: .818px;
   position: absolute;
   left: 215px;
   top: 55px;
}

#p5 {
   font-size: 15px;
   color: grey;
   text-align: left;
   max-width: 500px;
   position: absolute;
   left: 215px;
   top: 70px;
   word-spacing: 2px;
   line-height: 1.7em;
}

.clsthirdimg {
   position: absolute;
   left: 215px;
   top: 25px;
}

.clsfourthimg {
   position: absolute;
   left: 295px;
   top: 25px;
}

.clsfifthimg {
   position: absolute;
   left: 375px;
   top: 25px;
}

.clssixthimg {
   width: 500px;
   height: 307px;
   position: absolute;
   left: 890px;
   bottom: 70px;
}

.clsseventhimg {
   width: 376px;
   height: 44px;
   position: absolute;
   left: 1000px;
   bottom: 90px;
}

.clseighthimg {
   width: 76px;
   height: 43px;
   position: absolute;
   left: 910px;
   bottom: 90px;
}

#quote {
   position: absolute;
   margin-top: 970px;
   margin-left: 250px;
   font-family: raleway, sans-serif;
   font-size: 32px;
}

#p6 {
   position: relative;
   padding-top: 1030px;
   margin-bottom: 20px;
   text-align: center;
   font-family: Helvetica, arial, sans-serif;
   font-size: 19px;
   left: 200px;
}

#p6 strong {
   font-weight: 700;
}

.clsninthimg {
   position: absolute;
   top: 1650px;
   left: 0;
   width: 1600px;
   height: 318px;
}

#sayhi {
   position: relative;
   padding-top: 430px;
   font-size: 32px;
   font-family: Raleway, sans-serif;
   left: 200px;
}

#p7 {
   position: relative;
   padding-top: 10px;
   font-size: 21px;
   color: grey;
   left: 170px;
}

#icons {
   position: absolute;
   top: 2150px;
   left: 565px;
}

#container2 {
   background-color: rgb(227, 227, 227);
   position: relative;
   top: 150px;
   width: 1602px;
   height: 139px;
}

#p8 {
   position: absolute;
   left: 440px;
   top: 35px;
   font-size: 21px;
   font-family: Helvetica, arial, sans-serif;
   color: grey;
}

#p8 b {
   word-spacing: 2em;
}

.clssixteenthimg {
   position: absolute;
   left: 700px;
   top: 693px;
   width: 26px;
   height: 26px;
}

.clseighteenthimg {
   position: absolute;
   left: 850px;
   top: 595px;
   width: 26px;
   height: 26px;
}

.clsseventeenthimg {
   position: absolute;
   left: 700px;
   top: 500px;
   width: 26px;
   height: 26px;
}

.clsnineteenthimg {
   position: absolute;
   left: 850px;
   top: 400px;
   width: 26px;
   height: 26px;
}

.clstwentyimg {
   position: absolute;
   left: 865px;
   top: 825px;
   width: 18px;
   height: 20px;
}

#active {
   position: absolute;
   top: 1730px;
   left: 914px;
   width: 80px;
   height: 80px;
}

.cursorimg {
   position: absolute;
   width: 17px;
   height: 19px;
   top: 610px;
   left: 860px;
}

.line {
   position: absolute;
   width: 137px;
   height: 112px;
   top: 620px;
   left: 865px;
}

.cursor {
   position: absolute;
   left: 950px;
   width: 17px;
   height: 19px;
}
