div {
   font-size: 60px;
   font-family: pacifico;
   color: black;
   text-align: center;
}

img {
   width: 60px;
   height: 60px;
   margin-top: 200px;
}
p {
   font-size: 30px;
   font-family: raleway;
   font-weight: lighter;
   color: black;
   text-align: center;
   margin-top: 30px
}

header {
   width: 1433px;
   height: 700px;
   background: url('file:///Users/Ruby/Documents/Fall%202018/WEB%20DESIGN/the-focus-assignment/img/large-banner-image.png');
   background-repeat: no-repeat;
   background-position: center;
}

.clssecondimg{
   position: absolute;
   background-repeat: no-repeat;
   height: auto;
   width: auto;
   top: 200px;
   left: 535px;
}

#great{
   font-size: 20px;
   font-weight: bold;
   font-family: raleway;
   position: absolute;
   top: 750px;
   left: 200px;
}
#p1{
   font-size: 15px;
   color: grey;
   text-align: justify;
   margin-top: 90px;
   max-width: 350px;
   position: absolute;
   left: 200px;
   line-height: 1.5em;
}
#another{
   font-size: 20px;
   font-weight: bold;
   font-family: raleway;
   position: absolute;
   top: 910px;
   left: 200px;
}
#p2{
   font-size: 15px;
   color: grey;
   text-align: justify;
   margin-top: 260px;
   max-width: 350px;
   position: absolute;
   left: 200px;
   line-height: 1.5em;
}
#great2{
   font-size: 20px;
   font-weight: bold;
   font-family: raleway;
   position: absolute;
   top: 740px;
   left: 1000px;
}
#p3{
   font-size: 15px;
   color: grey;
   text-align: justify;
   margin-top: 90px;
   max-width: 350px;
   position: absolute;
   left: 1000px;
   line-height: 1.5em;
}
#another2{
   font-size: 20px;
   font-weight: bold;
   font-family: raleway;
   position: absolute;
   top: 910px;
   left: 1000px;
}
#p4 {
   font-size: 15px;
   color: grey;
   text-align: justify;
   margin-top: 260px;
   max-width: 350px;
   position: absolute;
   left: 1000px;
   line-height: 1.5em;
}
#container {
  background-color: rgb(227, 227, 227);
  position: absolute;
  left: -2px;
  top: 1196px;
  width: 1603px;
  height: 427px;
}
#app{
  font-size: 22px;
  font-family: "Raleway";
  color: rgb(34, 34, 34);
  font-weight: bold;
  line-height: 0.818;
  position: absolute;
  left: 165px;
  top: 55px;
}
#p5{
   font-size: 15px;
   color: grey;
   text-align: left;
   max-width: 500px;
   position: absolute;
   left:165px;
   top: 70px;
   word-spacing: 2px;
   line-height: 1.7em;
}
.clsthirdimg{
   position: absolute;
   left: 165px;
   top: 25px;
}
.clsfourthimg{
   position: absolute;
   left: 245px;
   top: 25px;
}
.clsfifthimg{
   position: absolute;
   left: 325px;
   top: 25px;
}
.clssixthimg{
   width: 500px;
   height: 307px;
   position: absolute;
   left: 920px;
   bottom: 70px;
}
.clsseventhimg{
   width: 376px;
   height: 44px;
   position: absolute;
   left: 1020px;
   bottom: 90px;
}
.clseighthimg{
   width: 76px;
   height: 43px;
   position: absolute;
   left: 940px;
   bottom: 90px;
}
