div {
   font-size: 60px;
   font-family: pacifico;
   color: black;
   margin-bottom: 1em;
   text-align: center;
}
p {
   font-size: 30px;
   font-family: raleway;
   font-weight: lighter;
   color: black;
   text-align: center;
   margin-top: 30px
}

}
